.landing{
    background: url("../../public/download.jpg");
    background-size: cover;
        width: 100%;
    height: 100%;
}
.l-navbar{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    height: 9vh;
    width: 100%;
    background-color: #293846;
    margin: 0;
    padding: 0;
}

.l-icon{
    padding: 0 20px 0 20px;
}
.l-home-link{
    flex:20%;
}

.l-ctr{
    flex:80%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}


