
.sidebar{
    width: 15vw;
    height: 100%;
    background-color: rgb(197, 209, 219);
    position: fixed;
    top: 7.5vh;
}

.sidebar ul{
    
}

.sidebar ul li{
    height: 8vh;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    padding-left:1.5rem ;

}

.sidebar ul li:hover{
    background-color: rgb(144, 179, 209);
    cursor: pointer;
    border-radius: 0 25px 25px 0;
}

.sidebar .icon{
    padding-right: 10px;
}